body {
    text-align: center;
}
p {
    text-align: center;
    font-family: 'Baloo 2';
    font-size: 20px;
    color: #2C5EA9;
}
.button {
    background-color: #62BDFF;
    border: 0px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Baloo';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
#container {
    max-width: 800px;
    margin: 0 auto 0 auto;
    align-items: center;
}
#headline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 15px;
}
#headline-text {
    text-align: center;
    font-family: 'Baloo';
    font-size: 60px;
    color: #62BDFF;
}
#headline-img {
    padding-right: 20px;
}
#clear {
    clear: right;
    padding-top: 25px;
}
#outputtext {
    font-family: 'Baloo 2';
    font-size: 20px;
    color: #FFFFFF;
    background-color: #2C5EA9;
    border-radius: 8px;
    padding: 10px;
    max-width: 350px;
    margin: 1em auto 1em auto;
}