<!DOCTYPE html>
<html>
    <head>
        <!-- links for fonts -->
        <link href='https://fonts.googleapis.com/css?family=Baloo' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Baloo 2' rel='stylesheet'>

        <!-- tab -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>RunRover</title>
        
        <!-- css -->
        <link rel="stylesheet" href="static/stylesheet.css">

        <!-- bootstrap -->
        <link rel=”table-stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow” 
                integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>
        
    </head>
    <body>
        <div id="container">
            <div>
                <h1> <img src="static/RunRover_Icon.png"> RunRover</h1>
            </div>
            <div style="text-align:center">
                <button class="button" style="margin-right: 30px">TODO: Run Tracker</button>
                <button class="button">TODO: Route Finder</button>
            </div>
            <p>Easily track your runs using the table below.</p>
            <p>TODO: ~have the table here~</p>



            <p>Need help figuring out what to do on your next run?</p>
            <button class="button">TODO: Generate Run</button> 
            <p class="outputtext">
                TODO: ~run suggestor output here~
            </p>
        </div>
    </body>
</html>