<!DOCTYPE html>
<html>
<head>
  <title>Route Calculator</title>
</head>
<body>
  <input type="text" id="start" placeholder="Starting Point">
  <input type="text" id="end" placeholder="Ending Point">
  <input type="number" id="distance" placeholder="Desired Distance (km)">
  <button onclick="calculateRoute()">Calculate Route</button>
  <div id="map" style="height: 400px;"></div>
  <div id="directions-panel"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUN9DWK3HWyX9M63TVztHgyM8K4pFyjPI&libraries=places"></script>
  <script>
    var map;
    var directionsService;
    var directionsRenderer;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 0, lng: 0 },
        zoom: 10
      });
      directionsService = new google.maps.DirectionsService();
      directionsRenderer = new google.maps.DirectionsRenderer();
      directionsRenderer.setMap(map);
    }

    function calculateRoute() {
      var start = document.getElementById('start').value;
      var end = document.getElementById('end').value;
      var distance = parseFloat(document.getElementById('distance').value) * 1000; // Convert km to meters

      var request = {
        origin: start,
        destination: end,
        travelMode: 'WALKING'
      };

      directionsService.route(request, function(result, status) {
        if (status == 'OK') {
          directionsRenderer.setDirections(result);
          var route = result.routes[0];
          var totalDistance = 0;

          for (var i = 0; i < route.legs.length; i++) {
            totalDistance += route.legs[i].distance.value;
            if (totalDistance >= distance) {
              break;
            }
          }

          document.getElementById('directions-panel').innerHTML = 'Total distance: ' + (totalDistance / 1000) + ' km';
        }
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUN9DWK3HWyX9M63TVztHgyM8K4pFyjPI&callback=initMap"></script>
</body>
</html>
