<!DOCTYPE html>
<html>
    <head>
        <!-- links for fonts -->
        <link href='https://fonts.googleapis.com/css?family=Baloo' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Baloo 2' rel='stylesheet'>

        <!-- tab -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>RunRover</title>
        
        <!-- css -->
        <link rel="stylesheet" href="static/stylesheet.css">

        <!-- bootstrap -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        
    </head>
    <body>
        <div id="container">
            <div>
                <div id="headline">
                    <div id="headline-img">
                        <img src="static/RunRover_Icon.png"> 
                    </div>
                    <h1>RunRover</h1>
                </div>
            </div>
            <div style="text-align:center">
                <button class="button" style="margin-right: 30px">TODO: Run Tracker</button>
                <button class="button">TODO: Route Finder</button>
            </div>
            <p>Easily track your runs using the table below.</p>
            <p>TODO: ~have the table here~</p>



            <p>Need help figuring out what to do on your next run?</p>
            <button class="button">TODO: Generate Run</button> 
            <p class="outputtext">
                TODO: ~run suggestor output here~
            </p>
        </div>
    </body>
</html>